  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder=" Name" name="name">
      <label for="floatingInput"> Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.blood_type}}" placeholder="blood_type" name="blood_type">
      <label for="floatingInput">Blood Type</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
      <label for="floatingInput">Phone</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.address}}" placeholder="address" name="address">
      <label for="floatingInput">Address</label>
    </div>
  </div>
  <div class="col-18 d-grid">
    <button class="btn btn-primary" type="submit" style="background-color:rgb(154, 196, 244);;; width:300px;color:rgba(89, 88, 88, 0.833);  display: inline-block;
    padding: 20px 55px;
    font-size: 20px;
    border-radius:0;
    -webkit-appearance: none;
     border: 5px solid lightgray;
"><b>Submit</b></button>
  </div>
