
<div class="row">
  <div class="col-6">
    <h1 >All  Donors </h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center" style="background-color: #FF0000	 ;border:2px solid rgb(255, 254, 254); color:black"><b>+ Add Donors</b></a>
  </div>
</div><br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center" >#</th>
      <th scope="col" class="text-center"> Name</th>
      <th scope="col" class="text-center">Blood Type</th>
      <th scope="col"  class="text-center">Email</th>
      <th scope="col"  class="text-center">Phone</th>
      <th scope="col"  class="text-center">Address</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><b>{{this.name}}</b></td>
      <td><b>{{this.blood_type}}</b></td>
      <td><b>{{this.email}}</b></td>
      <td><b>{{this.phone}}</b></td>
      <td><b>{{this.address}}</b></td>

      <td class="text-center">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"  style="background-color: rgb(154, 196, 244);"><i class="bi bi-eye"></i> <b>View</b></a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small" style="background-color: darkgrey;" ><i class="bi bi-pencil"></i>
       <b>  Edit</b></a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"  style="background-color: #FF0000	"  ><i class="bi bi-person-x"></i><b> Delete</b></a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>