{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="color:black;
">
 <b><i>Donor has been removed !</i></b>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="row">
  <div class="col-6">
    <h1 >All  Donors </h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center" style="background-color: #FF0000	 ;border:2px solid rgb(255, 254, 254); color:black"><b><i class='fas fa-user-plus'></i>
 Add Donors</b></a>
  </div>
</div><br>

<table class="table table-bordered">
  <thead class="thead-dark" style="border:0px solid black">
    <tr>
      <th scope="col" class="text-center" >#</th>
      <th scope="col" class="text-center"><i class='fas fa-user-alt'></i>
 Name</th>
      <th scope="col" class="text-center"><i class='fas fa-burn' style='font-size:20px;color:red'></i>Blood Type
</th>
      <th scope="col"  class="text-center"><i class="fa fa-envelope"></i>
Email</th>
      <th scope="col"  class="text-center"><i class="fa fa-phone"></i>
Phone</th>
      <th scope="col"  class="text-center"><i class="fa fa-home"></i>
Address</th>
      <th scope="col" class="text-center"><i class='fas fa-user-cog'></i>
Action</th>
    </tr>
  </thead>
  <tbody style="border:0px solid rgb(0, 0, 0)">
      {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><b>{{this.name}}</b></td>
      <td><b>{{this.blood_type}}</b></td>
      <td><b>{{this.email}}</b></td>
      <td><b>{{this.phone}}</b></td>
      <td><b>{{this.address}}</b></td>

      <td class="text-center">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"  style="background-color: rgb(154, 196, 244);"><i class="bi bi-eye"></i> <b>View</b></a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small" style="background-color: rgba(250, 246, 246, 0.912);" ><i class="bi bi-pencil"></i>
       <b>  Edit</b></a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"  style="background-color: #FF0000	"  ><i class="bi bi-person-x"></i><b> Delete</b></a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>